<title>ShineApp-3.0 | Мониторинг инстаграмма по введённым хэш-тэгам</title>
<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/1.0.0/angular-scroll.js"></script>
<!--suppress HtmlUnknownTarget -->
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<!--suppress HtmlUnknownTarget -->
<script src="/logic/main.js"></script>
