<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body data-ng-app="ShineApp" data-ng-controller="ShineController">

    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
        <div class="container">

            <!--[if lt IE 10]>
            <p>Вы используете <strong>устаревший</strong> браузер. Пожалуйста
                <a href="http://browsehappy.com/">обновите ваш браузер</a>
                чтобы улучшить ваш опыт.</p>
            <![endif]-->

            <div ui-view layout="row" layout-fill></div>

            <% include ../partials/main.ejs %>

            <div class="video-container">
                <video class="bgvideo" preload="true" autoplay="true" loop="true" controls="false" poster="/video/videoold.jpg">
                    <source src="/video/background.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
                    <source src="/video/background.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
                    <source src="/video/background.webm" type="video/webm; codecs=&quot;vp8, vorbis&quot;">
                    Video не поддерживается вашим браузером.
                </video>
            </div>
        </div>
    </div>


</body>
</html>
